[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-cdk-lib = "*"
constructs = "*"
python-dotenv = "*"
httpx = "*"
pyjwt = {extras = ["crypto"], version = "*"}

[dev-packages]
pytest = "*"
setuptools = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
